body {
	background-color: #F0F0F0;
	color: #333333;
	margin: 40px auto;
	max-width: 755px;
	font-size: 18px;
	padding: 0 10px;
	text-align: justify;
}
table, td {
	border-style: solid;
	border-width: thin;
}
table img {
	max-height: 128px;
}
aside {
	font-style: italic;
}