body {
	color: #333434;
	margin: 40px auto;
	max-width: 718px;
	font-size: 16px;
	padding: 0 10px;
	text-align: justify;
	line-height: 150%;
	font-family: Tahoma, "Segoe UI", Geneva, Verdana, sans-serif;
}

h1,h2,h3,h4,h5,h6 {
	line-height: 100%
}
aside {
	font-style: italic;
}

/* Tables */
table, td {
	border-style: solid;
	border-width: thin;
}
table img {
	max-height: 128px;
}

/* GALLERY STUFF */
div.gallery {
	background: black;
	max-width: none;
	padding: 4px;
}
div.gallery-item {
	background: white;
	margin: 4px;
	border: 1px solid #333434;
	padding: 4px;
}
div.gallery-item img {
  width: 100%;
  height: auto;
}