body {
	background-color: #F0F0F0;
	color: #333333;
	margin: 40px auto;
	max-width: 718px;
	font-size: 16px;
	padding: 0 10px;
	text-align: justify;
	line-height: 150%
}
h1,h2,h3,h4,h5,h6 {
	line-height: 100%
}
table, td {
	border-style: solid;
	border-width: thin;
}
table img {
	max-height: 128px;
}
aside {
	font-style: italic;
}